<form (ngSubmit)="saveDataSource(dataSourceForm)" #dataSourceForm="ngForm">
  <mat-card>
    <mat-card-title>
      <mat-form-field>
        <input type="text" matInput [(ngModel)]="dataSource.name" placeholder="Data Source Name" name="dataSourceName" #dataSourceName="ngModel" [required]="true">
        <mat-error *ngIf="dataSourceName.hasError('required')">This field is required!</mat-error>
      </mat-form-field>
    </mat-card-title>
    <mat-card-content>
        <mat-form-field>
          <mat-label>Data Source Type</mat-label>
          <mat-select [required]="true" [(ngModel)]="dataSource.type" #dataSourceType="ngModel" name="dataSourceType">
            <mat-option *ngFor="let dsType of dataSourceTypes" [value]="dsType">{{dsType}}</mat-option>
          </mat-select>
          <mat-error *ngIf="dataSourceTypeControl.hasError('required')">You must select a data source type!</mat-error>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
