<mat-card>
  <mat-card-title>Survey Activity</mat-card-title>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>
    <table mat-table [dataSource]="surveys | async">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let survey"><a href="/a/surveys/{{survey.id}}">{{survey.name}}</a></td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef>Project</th>
        <td mat-cell *matCellDef="let survey"><a href="/a/projects/{{survey.projectId}}">{{getProjectTitle(survey.projectId) | async}}</a></td>
      </ng-container>
      <ng-container matColumnDef="respondents_number">
        <th mat-header-cell *matHeaderCellDef>Completed/Goal</th>
        <td mat-cell *matCellDef="let survey" matTooltip="{{getSurveyRespondentsCount(survey)}} respondents completed">{{getSurveyRespondentsCount(survey)}}/{{survey.respondentsGoal}}</td>
      </ng-container>
      <ng-container matColumnDef="respondents_progress">
        <th mat-header-cell *matHeaderCellDef>% Completion</th>
        <td mat-cell *matCellDef="let survey" style="padding-right: 5px;">
          <mat-progress-bar [value]="getSurveyRespondentsPercentage(survey)" matTooltip="Progress: {{getSurveyRespondentsPercentage(survey)}}%"></mat-progress-bar>
        </td>
      </ng-container>
      <ng-container matColumnDef="last_updated">
        <th mat-header-cell *matHeaderCellDef>Last Updated</th>
        <td mat-cell *matCellDef="let survey">{{getLastUpdated(survey) | date:'short'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card-content>
</mat-card>
