.sidenav-container {
  height: 100%;
}

.sidenav {
  transition: width ease-in 0.2s;
  width: 70px;
}

.sidenav.menu-expanded {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active-link {
  background-color: #3f51b5;
  color: #fff;
}
