
<a [routerLink]="['..']">
  <button mat-button>
    <mat-icon>arrow_left</mat-icon> Back
  </button>
</a>
<mat-tab-group>
  <mat-tab label="Basic Details">
    <ng-template matTabContent>
      <app-project-basic-details [project]="project"></app-project-basic-details>
    </ng-template>
  </mat-tab>
  <mat-tab label="Data Sources">
    <ng-template matTabContent>
      <app-data-sources-management-page [project]="project"></app-data-sources-management-page>
    </ng-template>
  </mat-tab>
</mat-tab-group>
